.item__content {
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
    border-radius: 0.25rem;
    background-color: var(--background-experiencia-item);
    padding: 0.62rem 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
}

h5 {
    font-size: 1.3rem;
    font-weight: 600;
}

h6 {
    color: var(--secundario);
    font-weight: 900;
}

.certificate a{
    color: var(--secundario);
    font-weight: 900;
    font-size: 0.8rem;
    text-align: center;
    width: 10rem;
    text-decoration: none;
}