.item__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    background-color: #F4F5F8;
    padding: 10px 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.3rem;
    font-weight: 600;
}

h6 {
    color: #EF3724;
    font-weight: 900;
}

.certificate a{
    color: #EF3724;
    font-weight: 900;
    font-size: 0.8rem;
    text-align: center;
    width: 10rem;
    text-decoration: none;
}