.nav-expansivel {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    width: 100%;
    padding: 0.8rem 9%;
    height: 4.5rem;
    background-color: var(--principal);
    box-shadow: var(--princial-shadow);
    color: var(--text-white);
    font-size: 1.1rem;
    font-weight: 300;
    z-index: 99;
}

.menu-topo {
    display: flex;
    justify-content: space-between;
}


span {
    padding: 0.5rem 0rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.menu-language > svg {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid var( --text-dark);
    cursor: pointer;
}

button {
    display: none;
    box-sizing: border-box;
    background-color: var(--principal);
    border: 0.06rem solid var(--principal);
    padding: 0.4rem 0.8rem;
    border-radius: 0.31rem;
    cursor: pointer;
}

button:focus {
    box-sizing: border-box;
    border: 0.12rem solid black;
    outline: 0.12rem solid var(--text-white);
}

ul {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

li {
    display: flex;
    height: 3rem;
    align-items: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 400;
}

a:hover {
    color: #dddddd;
}

a:active {
    color: var(--text-white);
}

@media screen and (max-width:900px) {
    .nav-expansivel {
        align-items: start;
        justify-content: start;
        flex-direction: column;
        overflow: hidden;
        transition: height 500ms ease 0s;
    }

    .nav-expandida {
        height: 25rem;
    }

    button {
        display: block;
    }

    .menu-topo {
        width: 100%;
    }

    ul {
        flex-direction: column;
    }

    li {
        height: 2rem;
    }
}