<section class="container__portifolio" id="portifolio">
    <span>{{spanText}}</span>
    <h2>{{titlePortifolio}}</h2>
    <div class="itens__portifolio">
        <div *ngFor="let portifolio of portifolios.slice(0, 6)">
            <app-item-portifolio [imagem]="portifolio.imagem" [titulo]="portifolio.titulo" [txtVer]="txtVer" [txtVis]="txtVis"
                [descricao]="portifolio.tecnologias" [linkVer]="portifolio.linkVer" [linkVis]="portifolio.linkVis"></app-item-portifolio>
        </div>
    </div>
    <!-- <a class="btn__ver-todos" href="#" type="button">Ver todos</a> -->
</section>