.main__pefil {
    display: flex;
    margin-top: 4.5rem;
    height: fit-content;
    padding: 9rem 11% 0rem 11%;
}

.main__perfil_foto {
    display: flex;
    position: relative;
    width: auto;
    height: 25rem;
}

.main__perfil_foto::before {
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 1.2rem;
    width: 100%;
    height: 100%;
    border: solid 0.2rem #EF3724;
    box-sizing: border-box;
    box-shadow: inset -0.062rem 0.062rem 0.31rem #EF3724;
    z-index: -1;
}

.main__perfil_foto>img {
    width: 15.62rem;
    height: auto;
}

.main__perfil_section {
    width: 100%;
    margin-top: -0.9rem;
    display: flex;
    flex-direction: column;
    padding-left:13%;
    gap: 0.9rem;
}

.main__perfil__section_name {
    font-size: 2.3rem;
    color: #343A40;
    font-weight: 400;
}

.main__perfil__section_profissao {
    font-size: 1.3rem;
    font-weight: 600;
    color: #EF3724;
}

.main__perfil__section_sobre {
    font-size: 1rem;
    color: #343A40;
    width: 100%;
}

.main__perfil__informacoes_list>li>span {
    font-weight: 900;
}

.main__perfil__informacoes_list {
    position: relative;
    padding-left: 1.87rem;
    list-style: none;
    z-index: 10;
}

.main__perfil__informacoes_list::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.5rem;
    margin: auto;
    width: 0.06rem;
    height: 85%;
    background-color: #a1a1a1;
    z-index: -1;
}

.main__perfil__informacoes_list>li {
    margin-bottom: 0.63rem;
}

.main__perfil__informacoes_list>li::before {
    content: "";
    position: absolute;
    left: 0;
    margin: 0.19rem 0;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    border: 0.13rem solid #EF3724;
}

@media screen and (max-width:900px) {
    .main__pefil {
        flex-direction: column;
    }

    .perfil__foto {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main__perfil_section {
        margin-top: 1.25rem;
        padding: 0px;
    }
}