<section class="contact" id="contact">
    <h2>{{titleContacts}}</h2>
    <div class="contact__social">
        <div class="contact__social_item">
            <div class="contact__social_item__cabecalho">
                <h3>{{titleAddress}}</h3>
                <hr>
            </div>
            <div class="contact__social_item__corpo">
                <p>{{textAddress}}</p>
            </div>
        </div>
        <div class="contact__social_item">
            <div class="contact__social_item__cabecalho">
                <h3>{{titleSocials}}</h3>
                <hr>
            </div>
            <div class="contact__social_item__corpo">
                <a *ngFor="let textSocial of textSocials" [href]="textSocial.link" target="_blank">{{textSocial.text}}</a>
            </div>
        </div>
        <div class="contact__social_item">
            <div class="contact__social_item__cabecalho">
                <h3>{{titleContact}}</h3>
                <hr>
            </div>
            <div class="contact__social_item__corpo">
                <a *ngFor="let textContact of textContacts" [href]="textContact.link">{{textContact.text}}</a>
            </div>
        </div>
    </div>
    <p>{{textFooter.text}} <a [href]="textFooter.link">{{textFooter.name}}</a></p>
</section>