.section__experiencias{
    display: flex;
    width: 100%;
    gap: 6.25rem;
    padding: 6.25rem 11% 5rem 11%;
}
.section__experiencias_educacao, .section__experiencias_experiencia{
    width: 100%;
}

h3{
    font-size: 2rem;
    font-weight: 400;
}

.experiencia__time-line > li > h4 {
    background-color: var(--principal);
    color: var(--text-white);
    border-radius: 1.87rem 1.12rem 3.12rem 1.87rem;
    padding: 0.44rem 1.25rem;
    margin: 1.25rem;
    width: 9.37rem;
    font-size: 1rem;
    font-weight: 600;
}

.experiencia__time-line > li:first-child > h4 {
    background-color: var(--secundario);
}

.experiencia__time-line{
    position: relative;
    list-style: none;
}

.experiencia__time-line::before{
    content: "";
    position: absolute;
    top:1.87rem;
    left: 0rem;
    bottom: 0rem;
    margin: auto;
    width: 0.12rem;
    height: 100%;
    background-color: var(--text-dark)
}
.experiencia__time-line > li{
    position: relative;
    display: block;
    padding-left: 0.62rem;
    margin-bottom: 1.87rem;
}

.experiencia__time-line li:first-child::before {
    background-color: var(--secundario);
    outline: 0.15rem solid var(--secundario);
}

.experiencia__time-line > li::before{
    content: "";
    position: absolute;
    top: 0.43rem;
    left: -0.62rem;
    width: 0.94rem;
    height: 0.94rem;
    border-radius: 50%;
    background-color: var(--principal);
    border: 0.19rem solid var(--text-white);
    visibility: hidden;
}

.mostra_ano::before{
    visibility: visible !important;
}


@media screen and (max-width:900px) {
    .section__experiencias{
        flex-direction: column;
        gap: 2rem;
    }
}