.container__inicio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.87rem;
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/bg_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.container__inicio::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bacground-image-header);
    z-index: -1;
}

.container__inicio>p {
    color: var(--text-white);
    font-weight: 900;
    font-size: 1.25rem;
}

.container__inicio>h1 {
    color: var(--text-white);
    font-weight: 900;
    font-size: 2.5rem;
}
.container__inicio > h1 > span {
    color: var(--secundario);
    font-weight: 900;
    font-size: 2.5rem;
}

.skill{
    display: block;
    width: fit-content;
    text-align: center;
    margin: 1.87rem auto;
    background-color: var(--background-title);
    border-radius: 3.12rem;
    padding: 0.62rem 1.25rem;
    font-weight: 600;
    font-size: 1.25rem !important;
}
@media screen and (max-width:500px) {
    .container__inicio>p {
        font-size: 4vw;
    } 
    .container__inicio>h1 {
        font-size: 8vw;
    }
    .skill{
        font-size: 3vw;
    }
}