<nav>
    <app-menu></app-menu>
</nav>
<main>
    <app-inicio class="inicio" appScrollAnimation></app-inicio>
    <app-sobre class="sobre" appScrollAnimation></app-sobre>
    <app-habilidades class="habilidades" appScrollAnimation></app-habilidades>
    <app-portifolio class="portifolio" appScrollAnimation></app-portifolio>
    <app-experiencias class="experiencias" appScrollAnimation></app-experiencias>
</main>
<footer>
    <app-contact class="contact" appScrollAnimation></app-contact>
</footer>