<section class="section__skill"  id="skills">
    <h2 class="skill__title">Habilidades Técnicas</h2>
    <section class="skills">
        <section class="skills__front" appScrollAnimation animationClass="animacao_esquerda_direita">
            <h3 class="skill__front_title">Front-end</h3>
            <app-skill title="Âgular" percent="40%"></app-skill>
            <app-skill title="Bootstrap" percent="60%"></app-skill>
            <app-skill title="HTML5" percent="95%"></app-skill>
            <app-skill title="CSS3" percent="90%"></app-skill>
            <app-skill title="Typescript" percent="75%"></app-skill>
            <app-skill title="Javascript" percent="80%"></app-skill>
            <app-skill title="Figma" percent="30%"></app-skill>
        </section>
        <section class="skills__back" appScrollAnimation animationClass="animacao_direita_esquerda">
            <h3 class="skill__back_title">Back-end</h3>
            <app-skill title="Java" percent="80%"></app-skill>
            <app-skill title="PHP" percent="60%"></app-skill>
            <app-skill title="NodeJs" percent="30%"></app-skill>
            <app-skill title="SQL" percent="70%"></app-skill>
            <app-skill title="Laravel" percent="20%"></app-skill>
            <app-skill title="Spring Framework" percent="25%"></app-skill>
        </section>
    </section>
</section>