.section__skill{
    padding: 6.25rem 11% 0 11%;
}
.skill__title{
    font-size: 2.3rem;
    color: var(--principal);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.87rem;
}
.skills{
    display: flex;
    gap: 5rem;
}
.skill__front_title{
    font-weight: 600;
}
.skill__back_title{
    font-weight: 600;
}
.skills__front{
    position: relative;
    width: 100%;
    visibility: hidden;
}

.skills__back{
    position: relative;
    width: 100%;
    visibility: hidden;
}

@media screen and (max-width:600px) {
    .skills{
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width:600px) {
    .skill__title{
        font-size: 2rem;
    }
    
}