@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --principal: #343A40;
    --principal-footer:#171925;
    --princial-shadow: #0d0d0e 0px 0px 5px 0px;
    --secundario: #EF3724;
    --text-white: #ffffff;
    --text-dark: #9FA2AB;
    --background-experiencia-item:#F4F5F8;
    --background-portifolio-item:#302f2f;
    --bacground-image-header:rgba(62, 57, 57, 0.8);
    --background-title:rgba(239, 55, 36,0.3);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@keyframes animacao_baixo_cima {
    from {
        top: 500px;
    }

    to {
        top: 0px;
    }
}

@keyframes animacao_direita_esquerda {
    from {
        left: 200px;
    }

    to {
        left: 0px;
    }
}

@keyframes animacao_esquerda_direita {
    from {
        right: 200px;
    }

    to {
        right: 0px;
    }
}

@keyframes animacao_fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animacao_fade {
    visibility: visible !important;
    animation-name: animacao_fade;
    animation-duration: 2s;
}

.animacao_baixo_cima {
    visibility: visible !important;
    animation-name: animacao_baixo_cima;
    animation-duration: 1s;
}

.animacao_direita_esquerda {
    visibility: visible !important;
    animation-name: animacao_direita_esquerda;
    animation-duration: 1s;
}

.animacao_esquerda_direita {
    visibility: visible !important;
    animation-name: animacao_esquerda_direita;
    animation-duration: 1s;
}